<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.hyuna.vo.OrderGroupVO" alias="orderGroup"/>
		<typeAlias type="com.hyuna.vo.OrderVO" alias="order"/>
		<typeAlias type="com.hyuna.vo.MemberVO" alias="member"/>
		<typeAlias type="com.hyuna.vo.CartVO" alias="cart"/>
		<typeAlias type="com.hyuna.vo.OrderProductVO" alias="orderProduct"/>		
		<typeAlias type="com.hyuna.vo.ProductVO" alias="prd" />
		<typeAlias type="com.hyuna.vo.OrderRecallCancelVO" alias="orderRecallCancel" />
		<typeAlias type="com.hyuna.vo.board.FaqVO" alias="Faq" /> 	
		<typeAlias type="com.hyuna.vo.board.ReviewVO" alias="review" /> 
		<typeAlias type="com.hyuna.vo.QnaVO" alias="qna" />
		<typeAlias type="com.hyuna.vo.ProductAllVO" alias="prdAll" />
		<typeAlias type="com.hyuna.vo.QnaReplyVO" alias="qreply" />
	</typeAliases>
	<!-- <mappers>
		<mapper resource="query/Board.xml"/>
		</mappers> -->

</configuration>
