@CHARSET "UTF-8";


/* table{border-collapse: collapse; border-top: 3px solid gray; border-bottom: 3px solid gray; width: 1000px}
table td{border-bottom: 1px solid gray; padding: 15px; font-size: 13px;}
.tc{font-weight: bold;}
#mem_answer{width: 400px;}
#mem_post{width: 50px; margin-bottom: 10px;}
#mem_address1{width: 400px; margin-bottom: 10px;}
#mem_address2{width: 400px; }
#tel1, #tel2{width: 50px; margin-left: 10px; margin-right: 10px}
.agr_div{border-top: 3px solid gray; border-bottom: 3px solid gray; width: 1000px; padding-top: 15px; padding-bottom: 15px; font-size: 13px}
.contentBtn{text-align: right; width: 1000px; margin-top: 10px}
textarea{width: 800px; height: 100px; margin-left: 90px}
.agr_div2{margin-left: 90px} */
#container{ }

		